/* PaymentSuccess.css */
.App {
  font-family: Arial, sans-serif;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidedrawer{
  background-color:#2D3748;
  /* height:100vh;
 padding:5px;
 padding-top:15px;
 padding-bottom:15px; */
 display:flex;
 justify-Content:space-between;
 flex-direction:column;
}
.headingtext {
  color: white;
  margin: 0;
}

.rightmain {

  background-color: #2D3748;
  padding: 3%;
  justify-content: center;
  align-self:center;
  border-radius: 6px;
  
}

.main-content {
  background-color: #2D3748;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
  border-radius: 6px;
  padding: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.success-icon {
  justify-content: center;
  color: green;
  font-size: 2rem;
}

.failure-icon {
  justify-content: center;
  color: red;
  font-size: 2rem;
}

.payment-details {
  color:black;
  font-size: 1rem;
}

.back-home-btn {
  background-color: #2ecc71 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.back-home-btn:hover {
  background-color: #2ecc71 !important;
}
