.App {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 20px;
}
 
.rightmain {
  padding: 20px;
}
 
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.headingtext {
  font-size: 24px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
 
.mainpara {
  margin: 20px 0;
}
 
.plans {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
.plan {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none !important;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for smooth hover effects */
  border-width: 0px !important;
  border-color: #fff;
}
 
.icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.icon {
  font-size: 2em;
  color: #2ecc71;
}
 
.description-col {
  text-align: left;
}
 
.price-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
 
.plan h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #27ae60;
}
 
.plan p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #656565;
}
 
.plan h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #2D3748;
  font-weight: 600;
}
 
.features {
  font-size: 14px;
  color: #7f8c8d;
  background-color: #DAE8FF; /* Default background color */
  padding: 1%;
  font-size: 15px !important;
}
 
.buy-btn {
  background-color: #2ecc71; /* Button color set to green */
  color: white;
  border: none;
  padding: 10px 15px; /* Adjusted padding for smaller width */
  cursor: pointer;
  border-radius: 5px;
  width: auto; /* Button width adjusts to content */
  text-align: center;
}
 
.buy-btn:hover {
  background-color: #27ae60;
}
 
.plan:hover {
  background-color: #2D3748; /* Plan background color on hover */
  color: white; /* Default text color on hover */
}
 
.plan:hover p {
  color: white; /* Paragraph text color on hover */
}
 
.plan:hover h3 {
  color: #fff; /* Price color on hover */
}
 
.plan:hover .features {
  background-color: #DAE8FF; /* Background color of the features section on hover */
  color: #656565;
}
 
.plan:hover .buy-btn {
  background-color: #2ecc71; /* Button color remains green on hover */
}
.plan .buy-btn{
  background-color: #2ecc71;
  color: #fff;
  border: none;
}